# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Build tools
build/
.gradle/
.classpath
.project
.settings/